<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Access Denied</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="container" style="text-align: center;">
			<p style="color: green; font-size: 80%;"
				th:text="${addBookInfoPositive}"></p>
			<div style="color: #000080; font-size: 200%;">ACCESS DENIED</div>
			<div style="color: #000080; font-size: 150%;" th:text="${msg}"></div>
		</div>

		<div class="container" style="text-align: center; line-height:50%;">

			<font size="-3"> <font color=white>1011110010011011100111010011001100000101000000110110101111100001111110110011101010010000001111110100</font><br>
			<font color=white>1001010101000100011101000101101000010010100001111000111111001111110011111101100000001110001100100011</font><br>
			<font color=white>111</font><font color=black>00</font><font
				color=white>110110111000011100001010111000011111101010011000101101011100000111111111000111001000100111</font><font
				color=black>1</font><font color=white>1100</font><br>
			<font color=white>010</font><font color=black>1</font><font
				color=white>01100111111000010111111010111000011010111010111010001110100101101101101110001001101100001000</font><font
				color=black>0</font><font color=white>110</font><br>
			<font color=white>100</font><font color=black>0</font><font
				color=white>10101</font><font color=black>1111</font><font
				color=white>11</font><font color=black>0110</font><font color=white>00</font><font
				color=black>000011</font><font color=white>111</font><font
				color=black>001</font><font color=white>01</font><font color=black>100</font><font
				color=white>010011</font><font color=black>000001</font><font
				color=white>010</font><font color=black>101</font><font color=white>01</font><font
				color=black>0010</font><font color=white>110</font><font color=black>01000</font><font
				color=white>0111</font><font color=black>000</font><font color=white>010110</font><font
				color=black>0111</font><font color=white>010000000</font><font
				color=black>1</font><font color=white>110</font><br>
			<font color=white>000</font><font color=black>0</font><font
				color=white>10111</font><font color=black>0010</font><font
				color=white>10</font><font color=black>110</font><font color=white>00</font><font
				color=black>10001111</font><font color=white>00</font><font
				color=black>001</font><font color=white>11</font><font color=black>100</font><font
				color=white>00001</font><font color=black>10010000</font><font
				color=white>00</font><font color=black>0000</font><font color=white>1</font><font
				color=black>1000</font><font color=white>100</font><font color=black>000010</font><font
				color=white>100</font><font color=black>0000</font><font color=white>11100</font><font
				color=black>0001</font><font color=white>111001110</font><font
				color=black>0</font><font color=white>001</font><br>
			<font color=white>000</font><font color=black>0</font><font
				color=white>101011</font><font color=black>00000110</font><font
				color=white>0</font><font color=black>0111</font><font color=white>01</font><font
				color=black>011</font><font color=white>10</font><font color=black>111</font><font
				color=white>01</font><font color=black>111</font><font color=white>00001</font><font
				color=black>111</font><font color=white>01</font><font color=black>10</font><font
				color=white>110</font><font color=black>1011</font><font color=white>0</font><font
				color=black>0101</font><font color=white>001</font><font color=black>010000</font><font
				color=white>111</font><font color=black>1111</font><font color=white>10110</font><font
				color=black>0110</font><font color=white>000101000</font><font
				color=black>0</font><font color=white>001</font><br>
			<font color=white>010</font><font color=black>1</font><font
				color=white>1001011</font><font color=black>011000</font><font
				color=white>01</font><font color=black>0011</font><font color=white>10</font><font
				color=black>111</font><font color=white>10</font><font color=black>110</font><font
				color=white>10</font><font color=black>000</font><font color=white>11110</font><font
				color=black>00001</font><font color=white>10010</font><font
				color=black>111011001</font><font color=white>10</font><font
				color=black>0111111</font><font color=white>101</font><font
				color=black>0010</font><font color=white>11010</font><font
				color=black>0010</font><font color=white>001110111</font><font
				color=black>1</font><font color=white>110</font><br>
			<font color=white>101</font><font color=black>1</font><font
				color=white>0011000</font><font color=black>11100</font><font
				color=white>001</font><font color=black>0101</font><font color=white>11</font><font
				color=black>101</font><font color=white>01</font><font color=black>111</font><font
				color=white>00</font><font color=black>010</font><font color=white>10001110</font><font
				color=black>10111</font><font color=white>10</font><font color=black>000011010</font><font
				color=white>00</font><font color=black>001</font><font color=white>0</font><font
				color=black>1101</font><font color=white>01</font><font color=black>0110</font><font
				color=white>00011</font><font color=black>0100</font><font
				color=white>010001100</font><font color=black>0</font><font
				color=white>100</font><br>
			<font color=white>001</font><font color=black>1</font><font
				color=white>10101001</font><font color=black>1101</font><font
				color=white>011</font><font color=black>0111</font><font color=white>01</font><font
				color=black>001</font><font color=white>00</font><font color=black>111</font><font
				color=white>01</font><font color=black>111</font><font color=white>100101</font><font
				color=black>11</font><font color=white>01</font><font color=black>001</font><font
				color=white>10</font><font color=black>0000</font><font color=white>1</font><font
				color=black>1000</font><font color=white>11</font><font color=black>01011110</font><font
				color=white>01</font><font color=black>1100</font><font color=white>01110</font><font
				color=black>0010</font><font color=white>010000101</font><font
				color=black>1</font><font color=white>000</font><br>
			<font color=white>010</font><font color=black>1</font><font
				color=white>00001001</font><font color=black>1100</font><font
				color=white>010</font><font color=black>1011</font><font color=white>00</font><font
				color=black>010</font><font color=white>00</font><font color=black>000</font><font
				color=white>00</font><font color=black>000</font><font color=white>00010</font><font
				color=black>101</font><font color=white>11</font><font color=black>110</font><font
				color=white>11</font><font color=black>0011</font><font color=white>1</font><font
				color=black>1111</font><font color=white>01</font><font color=black>11010111</font><font
				color=white>11</font><font color=black>0100</font><font color=white>10100</font><font
				color=black>1111</font><font color=white>000110100</font><font
				color=black>1</font><font color=white>101</font><br>
			<font color=white>110</font><font color=black>0</font><font
				color=white>11011100</font><font color=black>1011</font><font
				color=white>0111</font><font color=black>10110101</font><font
				color=white>10</font><font color=black>01001100</font><font
				color=white>10100</font><font color=black>00001101</font><font
				color=white>01</font><font color=black>1111</font><font color=white>0</font><font
				color=black>0111</font><font color=white>1</font><font color=black>1111</font><font
				color=white>10</font><font color=black>111</font><font color=white>11</font><font
				color=black>10010011</font><font color=white>1</font><font
				color=black>01111001</font><font color=white>11000</font><font
				color=black>1</font><font color=white>111</font><br>
			<font color=white>111</font><font color=black>1</font><font
				color=white>111000110</font><font color=black>11</font><font
				color=white>1100000</font><font color=black>1110</font><font
				color=white>010100</font><font color=black>1101</font><font
				color=white>010</font><font color=black>0</font><font color=white>10001</font><font
				color=black>1011</font><font color=white>0001</font><font
				color=black>111</font><font color=white>101</font><font color=black>10</font><font
				color=white>001</font><font color=black>11</font><font color=white>1000</font><font
				color=black>11</font><font color=white>001</font><font color=black>110100</font><font
				color=white>110</font><font color=black>010100</font><font
				color=white>010110</font><font color=black>1</font><font color=white>010</font><br>
			<font color=white>100</font><font color=black>1</font><font
				color=white>0100000010011010001111010111100111</font><font
				color=black>1</font><font color=white>111001100100011110001110111011001111111111110010110111011</font><font
				color=black>0</font><font color=white>111</font><br>
			<font color=white>010</font><font color=black>0</font><font
				color=white>100001000011101110001101111100011</font><font
				color=black>11</font><font color=white>000110110110101111001111010100111010010100000101010111010</font><font
				color=black>0</font><font color=white>111</font><br>
			<font color=white>110</font><font color=black>1</font><font
				color=white>11010111110010110011000101010010</font><font color=black>00</font><font
				color=white>1100110100001101011000010100</font><font color=black>011001</font><font
				color=white>010010111101101110011110</font><font color=black>1</font><font
				color=white>000</font><br>
			<font color=white>110</font><font color=black>0</font><font
				color=white>1111101000111000111010111110110</font><font color=black>00</font><font
				color=white>001101000100110100011101001100</font><font color=black>010000</font><font
				color=white>00111011000000111100101</font><font color=black>1</font><font
				color=white>101</font><br>
			<font color=white>111</font><font color=black>0</font><font
				color=white>1110110110011011010001010011010</font><font color=black>1</font><font
				color=white>10010011100001101000000110000011</font><font color=black>00011</font><font
				color=white>01110001100101110001001</font><font color=black>1</font><font
				color=white>101</font><br>
			<font color=white>110</font><font color=black>0</font><font
				color=white>101100100101011001101001111101</font><font color=black>01</font><font
				color=white>001011000001111011100101101110001</font><font
				color=black>0110</font><font color=white>00010010000001000011000</font><font
				color=black>0</font><font color=white>100</font><br>
			<font color=white>101</font><font color=black>0</font><font
				color=white>00001010000000010111011011110</font><font color=black>11</font><font
				color=white>1011010101</font><font color=black>1001</font><font
				color=white>110110111111100101000</font><font color=black>000</font><font
				color=white>01010100111001111001101</font><font color=black>1</font><font
				color=white>100</font><br>
			<font color=white>011</font><font color=black>0</font><font
				color=white>1011000100011010011111000011</font><font color=black>01</font><font
				color=white>1011010010</font><font color=black>111000</font><font
				color=white>11001110001001011101</font><font color=black>110</font><font
				color=white>11110010011100111101001</font><font color=black>1</font><font
				color=white>010</font><br>
			<font color=white>000</font><font color=black>0</font><font
				color=white>011011111010001010010110101</font><font color=black>00</font><font
				color=white>11100011</font><font color=black>1011001111111</font><font
				color=white>1000001011010010</font><font color=black>100</font><font
				color=white>10111010000011111110111</font><font color=black>0</font><font
				color=white>101</font><br>
			<font color=white>110</font><font color=black>0</font><font
				color=white>01101101110001101111100011</font><font color=black>101</font><font
				color=white>1110</font><font color=black>01000000011000101110</font><font
				color=white>0110000001110</font><font color=black>110</font><font
				color=white>01001000011100011111000</font><font color=black>0</font><font
				color=white>111</font><br>
			<font color=white>000</font><font color=black>0</font><font
				color=white>11110100110010010110010001</font><font color=black>00</font><font
				color=white>00011001</font><font color=black>0100110100001</font><font
				color=white>1000000011001</font><font color=black>01</font><font
				color=white>01</font><font color=black>010</font><font color=white>10001110111100001110000</font><font
				color=black>0</font><font color=white>101</font><br>
			<font color=white>000</font><font color=black>1</font><font
				color=white>1110001010100100110111110</font><font color=black>01</font><font
				color=white>10000000011</font><font color=black>01001101101</font><font
				color=white>111001011</font><font color=black>10001101110</font><font
				color=white>11010111000111000011010</font><font color=black>1</font><font
				color=white>101</font><br>
			<font color=white>110</font><font color=black>1</font><font
				color=white>110000001010010001000111</font><font color=black>11</font><font
				color=white>111110110111</font><font color=black>1010111111111110000111101111</font><font
				color=white>1</font><font color=black>00</font><font color=white>11101110000011111110101</font><font
				color=black>1</font><font color=white>001</font><br>
			<font color=white>110</font><font color=black>1</font><font
				color=white>010111011111101110000</font><font color=black>1101100</font><font
				color=white>0010001010</font><font color=black>011010111111111001111000011</font><font
				color=white>01</font><font color=black>11</font><font color=white>00000110001101111100011</font><font
				color=black>0</font><font color=white>010</font><br>
			<font color=white>010</font><font color=black>0</font><font
				color=white>110001001111000100110</font><font color=black>10011101100011011011000110111001011110111100</font><font
				color=white>00</font><font color=black>111</font><font color=white>0001111011111001001111</font><font
				color=black>0</font><font color=white>000</font><br>
			<font color=white>000</font><font color=black>0</font><font
				color=white>1101110111011000100110</font><font color=black>111111011000111011001011101101111010011100</font><font
				color=white>100</font><font color=black>010</font><font color=white>0001101000010100010111</font><font
				color=black>0</font><font color=white>000</font><br>
			<font color=white>011</font><font color=black>0</font><font
				color=white>1001110001000101011011</font><font color=black>1</font><font
				color=white>110</font><font color=black>11101001100110110010001000101010</font><font
				color=white>0011010111</font><font color=black>10</font><font
				color=white>1011010111011011010011</font><font color=black>1</font><font
				color=white>110</font><br>
			<font color=white>110</font><font color=black>0</font><font
				color=white>11111100111010010111</font><font color=black>11</font><font
				color=white>00111</font><font color=black>001011011110111001101000011111</font><font
				color=white>11111001111</font><font color=black>10</font><font
				color=white>0110001001010000110101</font><font color=black>1</font><font
				color=white>010</font><br>
			<font color=white>101</font><font color=black>0</font><font
				color=white>001010111101110101111011010</font><font color=black>01100111000100001100001011</font><font
				color=white>110110000111010</font><font color=black>00</font><font
				color=white>1000100101111000100010</font><font color=black>1</font><font
				color=white>000</font><br>
			<font color=white>001</font><font color=black>1</font><font
				color=white>110101011010101011011010011101011101</font><font
				color=black>11111010111101101</font><font color=white>000100000001010</font><font
				color=black>1</font><font color=white>00110100000101010110100</font><font
				color=black>0</font><font color=white>011</font><br>
			<font color=white>111</font><font color=black>1</font><font
				color=white>11100111100001111010001010011001010</font><font
				color=black>0100001101101001000</font><font color=white>01101000101110</font><font
				color=black>1</font><font color=white>01000111000100001111101</font><font
				color=black>1</font><font color=white>000</font><br>
			<font color=white>110</font><font color=black>0</font><font
				color=white>01101011000110111011110010000010111</font><font
				color=black>0000011011111001110</font><font color=white>10011001011111</font><font
				color=black>00</font><font color=white>1110101111111001110011</font><font
				color=black>0</font><font color=white>001</font><br>
			<font color=white>100</font><font color=black>1</font><font
				color=white>1001011001011111111000011001001001</font><font
				color=black>010110000101110010111</font><font color=white>1110101101001</font><font
				color=black>00</font><font color=white>0110100011100100111010</font><font
				color=black>0</font><font color=white>101</font><br>
			<font color=white>001</font><font color=black>1</font><font
				color=white>1100101000110101110111010001111011</font><font
				color=black>1110010101000000110110</font><font color=white>011110010010</font><font
				color=black>11</font><font color=white>0000000100000101000001</font><font
				color=black>1</font><font color=white>001</font><br>
			<font color=white>100</font><font color=black>1</font><font
				color=white>000100110100010111111010110011011</font><font
				color=black>11010000110000111110001</font><font color=white>111111000100</font><font
				color=black>00</font><font color=white>1001011001011001110010</font><font
				color=black>0</font><font color=white>101</font><br>
			<font color=white>101</font><font color=black>0</font><font
				color=white>011100000111111111000110000011001</font><font
				color=black>100110110100110110101000</font><font color=white>000011010000</font><font
				color=black>0</font><font color=white>1011011100011011101001</font><font
				color=black>0</font><font color=white>111</font><br>
			<font color=white>111</font><font color=black>0</font><font
				color=white>11100110011011001111101100111100</font><font color=black>10110100110100101010010000</font><font
				color=white>10111011110</font><font color=black>0</font><font
				color=white>1010101010111000010101</font><font color=black>0</font><font
				color=white>101</font><br>
			<font color=white>110</font><font color=black>1</font><font
				color=white>0100011100100001010100101110100</font><font color=black>0010011100110101101010000110</font><font
				color=white>0011000000</font><font color=black>1</font><font
				color=white>1111111010010110101100</font><font color=black>1</font><font
				color=white>100</font><br>
			<font color=white>111</font><font color=black>1</font><font
				color=white>110101011100010001011110001011</font><font color=black>011001000011100101001101111101</font><font
				color=white>100110011</font><font color=black>0</font><font
				color=white>1100011111101100011110</font><font color=black>0</font><font
				color=white>010</font><br>
			<font color=white>000</font><font color=black>0</font><font
				color=white>10001000011110110011010111100</font><font color=black>00011011100110010001111101001000</font><font
				color=white>00011101</font><font color=black>0</font><font
				color=white>0011100001001100100101</font><font color=black>0</font><font
				color=white>000</font><br>
			<font color=white>101</font><font color=black>1</font><font
				color=white>10111000001010110111110000</font><font color=black>011111010101110111001011100101100001</font><font
				color=white>1101111</font><font color=black>10</font><font
				color=white>001001010110111011010</font><font color=black>1</font><font
				color=white>000</font><br>
			<font color=white>101</font><font color=black>1</font><font
				color=white>10010111011110110111000</font><font color=black>0010110001000110110011111010100100100100</font><font
				color=white>00011010101000110100110011101</font><font color=black>0</font><font
				color=white>111</font><br>
			<font color=white>111</font><font color=black>1</font><font
				color=white>01011001111011000010</font><font color=black>10101101111101111100010101011100000011111100</font><font
				color=white>0011111110110110110011101110</font><font color=black>0</font><font
				color=white>010</font><br>
			<font color=white>000</font><font color=black>1</font><font
				color=white>1101111100011011010110011111100</font><font color=black>0010011000101110001010110000001101</font><font
				color=white>000100110101000110110111100</font><font color=black>1</font><font
				color=white>100</font><br>
			<font color=white>010</font><font color=black>1</font><font
				color=white>010101101010011100100011110000111011101100011</font><font
				color=black>100011010</font><font color=white>000100110</font><font
				color=black>11</font><font color=white>011100101000111010001111010</font><font
				color=black>1</font><font color=white>101</font><br>
			<font color=white>110</font><font color=black>1</font><font
				color=white>11000011001000011100101111000000010000100000001011011010100010001001000111111001011001010010</font><font
				color=black>1</font><font color=white>111</font><br>
			<font color=white>110</font><font color=black>0</font><font
				color=white>0101000110</font><font color=black>1011</font><font
				color=white>01</font><font color=black>0000</font><font color=white>11</font><font
				color=black>10010010</font><font color=white>1</font><font
				color=black>110011010</font><font color=white>10001</font><font
				color=black>01011010</font><font color=white>011</font><font
				color=black>11101</font><font color=white>0100</font><font
				color=black>1011111</font><font color=white>011</font><font
				color=black>1000001</font><font color=white>1010101100</font><font
				color=black>0</font><font color=white>010</font><br>
			<font color=white>101</font><font color=black>0</font><font
				color=white>1111000000</font><font color=black>10010</font><font
				color=white>0</font><font color=black>1101</font><font color=white>10</font><font
				color=black>1000</font><font color=white>1</font><font color=black>1000</font><font
				color=white>11</font><font color=black>01110</font><font color=white>1101001</font><font
				color=black>1111</font><font color=white>1</font><font color=black>0100</font><font
				color=white>1</font><font color=black>110010</font><font color=white>010</font><font
				color=black>0110</font><font color=white>1</font><font color=black>1100</font><font
				color=white>1</font><font color=black>1001</font><font color=white>1</font><font
				color=black>1001</font><font color=white>001011001</font><font
				color=black>0</font><font color=white>101</font><br>
			<font color=white>000</font><font color=black>1</font><font
				color=white>0001011101</font><font color=black>10100</font><font
				color=white>1</font><font color=black>1010</font><font color=white>10</font><font
				color=black>011</font><font color=white>11</font><font color=black>0100</font><font
				color=white>011</font><font color=black>001</font><font color=white>10011101</font><font
				color=black>010</font><font color=white>11</font><font color=black>1101</font><font
				color=white>0</font><font color=black>0001000</font><font
				color=white>10</font><font color=black>1111</font><font color=white>011111</font><font
				color=black>1100</font><font color=white>01100100000011</font><font
				color=black>1</font><font color=white>101</font><br>
			<font color=white>000</font><font color=black>1</font><font
				color=white>0011110111</font><font color=black>1001001011</font><font
				color=white>00</font><font color=black>010</font><font color=white>01</font><font
				color=black>0010</font><font color=white>100</font><font color=black>011</font><font
				color=white>00110101</font><font color=black>000100100</font><font
				color=white>1</font><font color=black>011</font><font color=white>0</font><font
				color=black>110</font><font color=white>100</font><font color=black>11001</font><font
				color=white>0101</font><font color=black>011101</font><font
				color=white>111101110000</font><font color=black>0</font><font
				color=white>110</font><br>
			<font color=white>000</font><font color=black>1</font><font
				color=white>1100101000</font><font color=black>0101110100</font><font
				color=white>01</font><font color=black>111</font><font color=white>01</font><font
				color=black>0111</font><font color=white>010</font><font color=black>010</font><font
				color=white>00111110</font><font color=black>11000111</font><font
				color=white>11</font><font color=black>000</font><font color=white>0</font><font
				color=black>100</font><font color=white>11000</font><font
				color=black>010000</font><font color=white>0110</font><font
				color=black>000000</font><font color=white>000000110</font><font
				color=black>1</font><font color=white>011</font><br>
			<font color=white>100</font><font color=black>1</font><font
				color=white>1000101111</font><font color=black>0001</font><font
				color=white>1</font><font color=black>10111</font><font color=white>01</font><font
				color=black>000</font><font color=white>11</font><font color=black>1100</font><font
				color=white>010</font><font color=black>100</font><font color=white>00000110</font><font
				color=black>111</font><font color=white>110110</font><font
				color=black>110101011</font><font color=white>11</font><font
				color=black>01</font><font color=white>00</font><font color=black>0110</font><font
				color=white>00</font><font color=black>10</font><font color=white>10</font><font
				color=black>0011</font><font color=white>001011000</font><font
				color=black>0</font><font color=white>110</font><br>
			<font color=white>010</font><font color=black>1</font><font
				color=white>1000100100</font><font color=black>0010</font><font
				color=white>0</font><font color=black>01001</font><font color=white>00</font><font
				color=black>110</font><font color=white>11</font><font color=black>1011</font><font
				color=white>111</font><font color=black>010</font><font color=white>00101101</font><font
				color=black>011</font><font color=white>011001</font><font
				color=black>010000101</font><font color=white>1</font><font
				color=black>0011</font><font color=white>1</font><font color=black>0010</font><font
				color=white>0</font><font color=black>0110</font><font color=white>1</font><font
				color=black>0111</font><font color=white>001000001</font><font
				color=black>0</font><font color=white>010</font><br>
			<font color=white>001</font><font color=black>1</font><font
				color=white>1001001010</font><font color=black>1110</font><font
				color=white>00</font><font color=black>0100</font><font color=white>00</font><font
				color=black>10010011</font><font color=white>0010</font><font
				color=black>110</font><font color=white>00101100</font><font
				color=black>101</font><font color=white>011100</font><font
				color=black>0011</font><font color=white>1</font><font color=black>0000</font><font
				color=white>0</font><font color=black>111110111</font><font
				color=white>1</font><font color=black>110001100</font><font
				color=white>010101101</font><font color=black>1</font><font
				color=white>011</font><br>
			<font color=white>001</font><font color=black>1</font><font
				color=white>11001100001</font><font color=black>110</font><font
				color=white>011</font><font color=black>010</font><font color=white>1111</font><font
				color=black>00001</font><font color=white>10100</font><font
				color=black>010</font><font color=white>10001011</font><font
				color=black>110</font><font color=white>010001</font><font
				color=black>110</font><font color=white>011</font><font color=black>001</font><font
				color=white>010</font><font color=black>10000</font><font
				color=white>00100</font><font color=black>01001</font><font
				color=white>00101101001</font><font color=black>0</font><font
				color=white>000</font><br>
			<font color=white>001</font><font color=black>1</font><font
				color=white>10001000001100111001101001011010110010110010111101111100110111010100111010001001000001001110</font><font
				color=black>0</font><font color=white>101</font><br>
			<font color=white>110</font><font color=black>10</font><font
				color=white>010010111010111111001110101010011111001011010111110001101101001010111110111011011010011010</font><font
				color=black>0</font><font color=white>1001</font><br>
			<font color=white>0110100001110110001101010000001100101100011011111010101010011010001100101000001111110100000000011100</font><br>
			<font color=white>0001100111100101111011010100111111100111101010111010010001111011001101011001101100001011001110101111</font><br>
			</font>

		</div>
	</div>




</body>
</html>