<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/layout}">
<head>
<title>Login</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<section>
			<div class="jumbotron">
				<div class="container">
					<h1 th:text="${message}"></h1>
					<p th:text="${info}"></p>
				</div>
			</div>
		</section>
		<div class="col-sm-6 col-md-3" style="float: left; margin-left: 0px">
			<div class="thumbnail">
				<div class="caption">
					<h3>Books</h3>
					<p>Display all books</p>
					<p>
						<a th:href="@{/books}" class="btn btn-primary"> <span
							class="glyphicon glyphicon-bookmark" /></span> Show all books
						</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-3" style="float: left; margin-left: 20px">
			<div class="thumbnail">
				<div class="caption">
					<h3>Add book</h3>
					<p>Create new book</p>
					<p>
						<a th:href="@{/books/add}" class="btn btn-primary"> <span
							class="glyphicon glyphicon-bookmark" /></span> Add book
						</a>
					</p>
				</div>

			</div>
		</div>
		<div class="col-sm-6 col-md-3" style="float: left; margin-left: 20px">
			<div class="thumbnail">
				<div class="caption">
					<h3>Search books</h3>
					<p>Search books by criteria</p>
					<p>
						<a th:href="@{/books/search}" class="btn btn-primary"> <span
							class="glyphicon glyphicon-bookmark" /></span> Search books
						</a>
					</p>
				</div>
			</div>

		</div>
		<div sec:authorize="hasRole('ADMIN')" class="col-sm-6 col-md-3"
			style="float: left; margin-left: 0px">
			<div class="thumbnail">
				<div class="caption">
					<h3>Clear Book Store</h3>
					<p>Database can't be restored!</p>
					<form th:method="delete" th:action="@{/books/clear}">
						<button class="btn btn-danger" type="submit">
							<span class="glyphicon glyphicon-minus-sign" /></span> CLEAR
						</button>
					</form>
				</div>
			</div>
		</div>
</body>
</html>
